<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <link rel="stylesheet" href="/css/cart.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/cart.js"></script>
</head>
<body>
<div class="header">
    <a href="/" id="home_logo">
        <img src="/images/icons/logo.png" alt="Home Logo"/>
    </a>
</div>
<h2>장바구니</h2>
<table id="table">
    <thead>
    <th>장바구니 목록</th>
    </thead>
    <tbody>
    <tr class="clickable-row" th:each="cart, iterStat : ${carts}" th:data-cart-item-id="${cart.id}">
        <td class="product" th:data-product-id="${cart.products.id}"><img th:src="@{'/images/uploads/' + ${cart.products.photo}}" alt="Product Image" height="80" width="80">
            <span id="name" th:text="${cart.products.product_name}"></span></td>
        <td>
            <div class="quantity-controls">
                <button type="button" class="decrease-quantity" th:data-cart-item-id="${cart.id}">-</button>
                <span class="quantity" th:text="${cart.quantity}"></span>
                <span class="origin-price" style="display: none" th:text="${(cart.products.price * (1 - (cart.products.discount / 100)))}"></span>
                <button type="button" class="increase-quantity" th:data-cart-item-id="${cart.id}">+</button>
            </div>
        </td>
        <td class="total-price" th:text="${#numbers.formatDecimal(cart.products.price * (1 - (cart.products.discount / 100)) * cart.quantity, 0,0,'COMMA')} + '원'"></td>
        <td class="coupon-apply-cell"><button class="coupon-button" id="coupon">쿠폰 적용</button>
        <td class="discounted-price-cell" style="display: none;">
            <div class="discount_box">
                <span class="discounted-price" data-discount="0" data-coupon-id="0" style="margin-top: 23px; margin-right: 10px;"></span>
                <div class="mod_but_box">
                    <button class="change-button">변경</button>
                    <button class="cancel-button">해제</button>
                </div>
            </div>
        </td>
        <td><button class="del">삭제</button></td>
    </tr>
    </tbody>
</table>
<h3>총 합계: <span id="totalAmount" th:text="${total}"></span></h3>
<button type="button" id="buy">결제하기</button>
</body>
</html>
