<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Fast Mall</title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <a href="/" id="home_logo">
            <img src="/images/icons/logo.png" />
        </a>
        <!-- 입력창과 검색 버튼 -->
        <form id="search_form" action="/search" method="get">
            <input type="text" id="search_input" placeholder="검색어를 입력하세요">
            <button type="submit" class="search_button" id="search_button">
                <img src="/images/icons/search.png"/>
            </button>
        </form>
        <div id="user_menu" class="user_menu">
            <button id="status"> <img src="/images/icons/login.png"/> </button>
        </div>
        <div>
            <a href="/products/add">판매하기</a>
            <a href="/sellerStatus">내가 올린 상품 보기</a>
        </div>
    </div>
    <div class="body_layer">
        <div id="category_box">
            <div id="category_1depth">
                <!-- 카테고리가 동적으로 추가될 공간 -->
            </div>
        </div>
        <div id="banner_margin">
            <div id="banner">
                <img src="/images/banners/banner1.jpg" />
            </div>
        </div>
        <article>
                <h1>할인하는 상품들</h1>
            <div id="product_list">
                <div id="products">
                    <!-- Product items will be dynamically added here -->
                </div>
            </div>
        </article>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>