<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fast Mall - 검색결과</title>
    <link rel="stylesheet" href="/css/searchResult.css">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 모든 테이블 행에 대해 클릭 이벤트를 추가
            const rows = document.querySelectorAll('.clickable-row');
            rows.forEach(row => {
                row.addEventListener('click', function () {
                    const productId = this.dataset.productId;
                    // 상품 상세 페이지로 이동
                    window.location.href = `/products/${productId}`;
                });
            });
        });
    </script>
</head>
<body>
<div class="header">
    <a href="/" id="home_logo">
        <img src="/images/icons/logo.png" alt="Home Logo"/>
    </a>
</div>
<form action="/search">
    <!-- 타임리프를 통해 query값을 매핑해서 화면에 보여주기 -->
    <h1><span style="color: #3180d1" th:text="${query}">
    </span><span style="color: #3180d1" th:text="${category}">
    </span><span style="color: #3180d1" th:text="${sellerId}"></span> 검색결과</h1>
    <table>
        <tbody>
        <tr class="clickable-row" th:each="product : ${productDto}" th:data-product-id="${product.products.id}">
            <td><img id="image" th:src="@{'/images/uploads/' + ${product.products.photo}}" alt="Product Image">
                <div id="box"><span id="name" th:text="${product.products.product_name}"></span>
                    <div>
                        <span id="percent" th:if="${product.percent > 0}" th:text="${product.percent} + '%'"></span>
                        <span id="price" th:if="${product.products.price != product.discountPrice}"  th:text="${product.products.price} + '원'"></span>
                        <span id="discount_price" th:text="${product.discountPrice} + '원'"></span>
                    </div>
                </div></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
