<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Fast Mall - 로그인</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/login_style.css">
</head>
<body>
  <div class="header">
      <a href="/" id="home_logo">
        <img src="/images/icons/logo.png" />
      </a>
  </div>
  <form id="login-form" action="/login-process", method="post">
    <div id="id_box">
      <label>아이디: </label>
      <input class = "text" type="text" id="loginId" name="loginId"/>
    </div>
    <div id="password_box">
      <label>비밀번호: </label>
      <input  class = "text" type="password" id="password" name="password" placeholder="영문자,특수문자,숫자 포함 8자 이상"/>
    </div>
    <div>
      <button type="submit" id="login">로그인</button>
    </div>
    <div id="error-message" class="error-message"></div>
    <div id="link_box">
      <a href="/find_id" class="link" id="find_id">아이디 찾기</a>&nbsp;|&nbsp;
      <a href="/find_pw" class="link" id="find_pw">비밀번호 재설정</a>&nbsp;|&nbsp;
      <a href="/newUser" class="link" id="sign_up">회원가입</a>
    </div>
  </form>
</body>
</html>
