<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원정보</title>
  <link rel="stylesheet" href="/css/statusTemplate.css">
  <link href="/css/coupon.css" rel="stylesheet" />
</head>
<body>
<div class="header">
  <a href="/" id="home_logo">
    <img src="/images/icons/logo.png" />
  </a>
</div>
<div id="body_container">
  <div class="aside">
    <div id="profile">
      <div style="display: grid">
        <label th:text="${user.id}" style="padding-bottom: 12px"></label>
        <label th:text="${user.role} + ' 등급'" style="padding-bottom: 12px"></label>
      </div>
      <button id="status">회원정보</button>
      <form th:action="@{/logout}" method="post">
        <button id="logout" type="submit">로그아웃</button>
      </form>
    </div>
    <div id="link_box">
      <button class="link" id="coupon" onclick="myCoupon()">쿠폰함</button>
      <button class="link" id="order" onclick="orderHistory()">주문내역</button>
      <button class="link" id="wishlist">내가 찜한 상품</button>
      <button class="link" id="quit" onclick="quit()">회원탈퇴</button>
    </div>
  </div>
  <div id="content" style="border-left: #e0e6eb solid 1px">
    <div>
      <h2 style="text-align: center">쿠폰함</h2>
    </div>
    <table>
      <tbody>
      <tr class="clickable-row" th:each="coupons : ${couponDto}" th:data-product-id="${coupons.coupon.id}">
        <td th:text="${coupons.coupon.percent} + '% 할인 쿠폰'"></td>
        <td>
          <div style="padding-bottom: 12px">유효기간</div>
          <label th:text="'~' + ${coupons.expired}"></label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  function orderHistory() {
    // 현재 날짜
    const today = new Date();

    // 5년 전 날짜
    const fiveYearsAgo = new Date();
    fiveYearsAgo.setFullYear(today.getFullYear() - 5);

    // 포맷된 날짜
    const startDate = formatDate(fiveYearsAgo);
    const endDate = formatDate(today);

    // 예시로 쿼리 스트링을 생성하여 GET 요청을 보낼 수 있습니다.
    const queryString = `?startDate=${startDate}&endDate=${endDate}`;
    window.location.href = '/user/orderHistory' + queryString;
  }
  // 날짜를 YYYY-MM-DD 포맷으로 변환하는 함수
  function formatDate(date) {
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
  }
  function info() {
    window.location.href = "/user/info";
  }
  function myCoupon() {
    window.location.href = "/myCoupon";
  }

  function quit() {
    window.location.href = "/user/quit";
  }
</script>
</body>
</html>