<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Fast Mall - 회원가입</title>
  <meta charset="UTF-8">
  <link href="/css/sign_up_style.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/signup.js"></script>
</head>
<body>
<div class="header">
  <a href="/" id="home_logo">
    <img src="/images/icons/logo.png"  alt=""/>
  </a>
</div>
<h2><span style="color: #3180d1">회원가입</span>을 위해 정보를 입력해주세요!</h2>
<div class="container">
    <div class="form-group">
      <div class="box">
        <label for="id">아이디 :</label>
        <input type="text" id="id" name="id" placeholder="아이디를 입력하세요" required>
        <button type="button" id="dup_check" >중복 확인</button>
        <label id="label1"></label>
      </div>
      <div class="box">
        <label for="pw" class="pw" >비밀번호 :</label>
        <input type="password" class="pw" id="pw" name="pw" placeholder="비밀번호를 입력하세요" required>
        <label id="pw_case">영문자,숫자,특수문자를 섞어 최소 8자리 이상</label>
        <label id="label2"></label>
      </div>
      <div class="box">
        <label for="pw_check" class="pw" >비밀번호 :</label>
        <input type="password" class="pw" id="pw_check" name="pw" placeholder="비밀번호를 재입력하세요" required>
        <label id="label3"></label>
      </div>
      <div class="box">
        <label for="name" class="name" >이름 :</label>
        <input type="text" class="name" id="name" name="name" placeholder="ex) 홍길동" required>
        <label id="label4"></label>
      </div>
      <div class="box">
        <label class="sex" >성별 :</label>
        <label>남</label>
        <input class="sex-option" name="sex" type="radio" value="Male"/>
        <label>여</label>
        <input class="sex-option" name="sex" type="radio" value="FeMale"/>
      </div>
      <div class="box">
        <label for="birth" class="birth">생일 :</label>
        <input type="text" class="birth" id="birth" name="birth" placeholder="ex) 20240405" required>
        <label id="label5"></label>
      </div>
      <div class="box">
        <label class="phone">휴대폰 번호 : </label>
        <select id="phone1" class="phone" name="phone">
          <option value="010">010</option>
          <option value="011">011</option>
        </select><span class="phone"> - </span>
        <input type="tel" id="phone2" class="phone" name="phone" pattern="[0-9]{4}" required><span class="phone"> - </span>
        <input type="tel" id="phone3" class="phone" name="phone" pattern="[0-9]{4}" required>
        <label id="label6"></label>
      </div>
      <div class="box">
        <label for="email" class="email">이메일 :</label>
        <input type="email" class="email" id="email" name="email" placeholder="" required>
      </div>
      <div class="box">
      <label for="place" class="place">주소 : </label>
      <input type="text" class="place" id="place" name="place" placeholder="주소를 입력하세요">
        <label id="label8"></label>
      </div>
    </div>
    <button type="button" class="complete" id="signB">등록</button>
</div> <!-- /container -->
</body>
</html>