<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보</title>
    <link rel="stylesheet" href="/css/statusTemplate.css">
    <link href="/css/status.css" rel="stylesheet" />
</head>
<body>
<div class="header">
    <a href="/" id="home_logo">
        <img src="/images/icons/logo.png" />
    </a>
</div>
<div id="body_container">
    <div class="aside">
        <div id="profile">
            <div style="display: grid">
                <label th:text="${user.id}" style="padding-bottom: 12px"></label>
                <label th:text="${user.role} + ' 등급'" style="padding-bottom: 12px"></label>
            </div>
            <button id="status" onclick="info()">회원정보</button>
            <form th:action="@{/logout}" method="post">
                <button id="logout" type="submit">로그아웃</button>
            </form>
        </div>
        <div id="link_box">
            <button class="link" id="coupon" onclick="myCoupon()">쿠폰함</button>
            <button class="link" id="order">주문내역</button>
            <button class="link" id="wishlist">내가 찜한 상품</button>
            <button class="link" id="quit" onclick="quit()">회원탈퇴</button>
        </div>
    </div>
    <div id="content" style="border-left: #e0e6eb solid 1px">
        <div>
            <h2 style="text-align: center">최근 주문 내역</h2>
        </div>
        <ul>
            <li th:each="item : ${purchaseDto}">
                <div class="order_box" style="display: flex">
                    <div class="photo">
                        <a th:href="'/products/'+${item.purchases.product_id}">
                            <img id="image" th:src="@{'/images/uploads/' + ${item.purchases.products.photo}}" alt="Product Image" width="150" height="150">
                        </a>
                    </div>
                    <div class="product_name">
                        <a  class="product_name" th:href="'/products/'+${item.purchases.product_id}" th:text="${item.purchases.products.product_name}"></a>
                    </div>
                    <div class="product_info">
                        <span th:text="'결제가격: ' + ${item.purchases.price} + '원'"></span>
                        <span th:text="${item.purchases.product_cnt} + '개'"></span>
                    </div>
                    <div class="but_box">
                        <button class="review" th:if="${item.canReview == true}"
                                th:text="'리뷰 작성'"
                                th:attr="data-order-id=${item.purchases.order_id}, data-product-id=${item.purchases.product_id}"
                                onclick="openReviewPopup(this.getAttribute('data-order-id'),this.getAttribute('data-product-id'))">>
                        </button>
                        <span class="review-completed"
                              th:if="${item.canReview == false}"
                              th:text="'리뷰 작성 완료'">
                        </span>
                        <button class="cancel"
                                th:text="'주문 취소'"
                                th:attr="data-purchase-id=${item.purchases.id}"
                                onclick="cancelOrder(this.getAttribute('data-purchase-id'))">주문 취소</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    function openReviewPopup(orderId, productId) {
        const url = '/reviewPopup?orderId=' + encodeURIComponent(orderId) + '&productId=' + encodeURIComponent(productId);
        const windowFeatures = 'width=600,height=400,menubar=no,toolbar=no,location=yes,status=no,resizable=yes,scrollbars=yes';

        window.open(url, 'ReviewPopup', windowFeatures);
    }


    function cancelOrder(purchase_id) {
        const url = '/researchOrder?purchase_id=' + encodeURIComponent(purchase_id);
        window.location.href = url;
    }

    function info() {
        window.location.href = "/user/info";
    }
    function myCoupon() {
        window.location.href = "/myCoupon";
    }

    function quit() {
        window.location.href = "/user/quit";
    }
</script>
</body>
</html>