<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보</title>
    <link href="/css/status.css" rel="stylesheet" />
</head>
<body>
<div class="header">
    <a href="/" id="home_logo">
        <img src="/images/icons/logo.png" />
    </a>
</div>
<div id="body_container">
    <div class="aside">
        <div id="profile">
            <div style="display: grid">
                <label th:text="${user.id}" style="padding-bottom: 12px"></label>
                <label th:text="${user.role} + ' 등급'" style="padding-bottom: 12px"></label>
            </div>
            <button id="status">회원정보</button>
            <form th:action="@{/logout}" method="post">
                <button id="logout" type="submit">로그아웃</button>
            </form>
        </div>
        <div id="link_box">
            <button class="link" id="coupon">쿠폰함</button>
            <button class="link" id="order">주문내역</button>
        </div>
    </div>
    <div id="content" style="border-left: #e0e6eb solid 1px">
        <div>
            <h2 style="text-align: center">최근 주문 내역</h2>
        </div>
        <ul>
            <li th:each="item : ${purchase}">
                <div class="order_box" style="display: flex">
                    <div class="photo">
                        <a th:href="'/products/'+${item.product_id}">
                            <img id="image" th:src="@{'/images/uploads/' + ${item.products.photo}}" alt="Product Image" width="150" height="150">
                        </a>
                    </div>
                    <div class="product_name">
                        <a  class="product_name" th:href="'/products/'+${item.product_id}" th:text="${item.products.product_name}"></a>
                    </div>
                    <div class="product_info">
                        <span th:text="${item.price} + '원'"></span>
                        <span th:text="${item.product_cnt} + '개'"></span>
                    </div>
                    <div class="but_box">
                        <button th:onclick="'openReviewPopup('+${item.product_id}+')'">리뷰 작성</button>
                        <button onclick="cancelOrder()">주문 취소</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    function openReviewPopup(itemId) {
        const url = '/reviewPopup?itemId=' + itemId; // 팝업으로 열릴 URL
        const windowFeatures = 'width=600,height=400,menubar=no,toolbar=no,location=yes,status=no,resizable=yes,scrollbars=yes';

        window.open(url, 'ReviewPopup', windowFeatures);
    }


    function cancelOrder(itemId) {
        // 주문 취소 로직을 여기에 추가
        alert("Cancel order for item: " + itemId);
    }

</script>
</body>
</html>