<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원정보</title>
  <link rel="stylesheet" href="/css/statusTemplate.css">
  <link href="/css/status.css" rel="stylesheet" />
</head>
<body>
<div class="header">
  <a href="/" id="home_logo">
    <img src="/images/icons/logo.png" />
  </a>
</div>
<div id="body_container">
  <div class="aside">
    <div id="profile">
      <div style="display: grid">
        <label th:text="${user.id}" style="padding-bottom: 12px"></label>
        <label th:text="${user.role} + ' 등급'" style="padding-bottom: 12px"></label>
      </div>
      <button id="status" onclick="info()">회원정보</button>
      <form th:action="@{/logout}" method="post">
        <button id="logout" type="submit">로그아웃</button>
      </form>
    </div>
    <div id="link_box">
      <button class="link" id="coupon" onclick="myCoupon()">쿠폰함</button>
      <button class="link" id="order" onclick="orderHistory()">주문내역</button>
      <button class="link" id="wishlist" onclick="myWishlist()">내가 찜한 상품</button>
      <button class="link" id="quit" onclick="quit()">회원탈퇴</button>
    </div>
  </div>
  <div id="content" style="border-left: #e0e6eb solid 1px">
    <div>
      <h2 style="text-align: center">내가 찜한 상품</h2>
    </div>
    <ul>
      <li th:each="wishlist : ${wishlists}">
        <div class="order_box" style="display: flex">
          <div class="photo">
            <a th:href="'/products/'+${wishlist.product_id}">
              <img id="image" th:src="@{'/images/uploads/' + ${wishlist.product.photo}}" alt="Product Image" width="150" height="150">
            </a>
          </div>
          <div class="product_name">
            <a  class="product_name" th:href="'/products/'+${wishlist.product_id}" th:text="${wishlist.product.product_name}"></a>
          </div>
          <div class="product_info">
            <span th:text="${#numbers.formatDecimal(wishlist.product.price * (1 - (wishlist.product.discount / 100)),0,0,'COMMA')} + '원'"></span>
          </div>
          <div class="but_box">
            <button class="cancel" th:text="'삭제'"
                    th:attr="data-product-id=${wishlist.product_id}">
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const cancel = document.querySelectorAll(".cancel");
    cancel.forEach(button => {
      button.addEventListener("click", function () {
        const li = button.closest('li');
        const productId = button.getAttribute('data-product-id');
        const url = new URL('http://localhost:8080/delWishlist');
        url.searchParams.append('productId', productId);

        fetch(url, {
          method: 'POST',
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          }
        }).then(response => {
          return response.text();
        }).then(data => {
          if (data === "success") {
            li.remove();
          }
        }).catch(error => {
          console.error('Error:', error);
          if (error === 'Network response was not ok.')
            alert('네트워크 오류.');
        });
      });
    });
  });
  function orderHistory() {
    // 현재 날짜
    const today = new Date();

    // 5년 전 날짜
    const fiveYearsAgo = new Date();
    fiveYearsAgo.setFullYear(today.getFullYear() - 5);

    // 포맷된 날짜
    const startDate = formatDate(fiveYearsAgo);
    const endDate = formatDate(today);

    // 예시로 쿼리 스트링을 생성하여 GET 요청을 보낼 수 있습니다.
    const queryString = `?startDate=${startDate}&endDate=${endDate}`;
    window.location.href = '/user/orderHistory' + queryString;
  }
  // 날짜를 YYYY-MM-DD 포맷으로 변환하는 함수
  function formatDate(date) {
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
  }
  function info() {
    window.location.href = "/user/info";
  }
  function myCoupon() {
    window.location.href = "/myCoupon";
  }

  function myWishlist() {
    window.location.href = "/user/wishlist"
  }

  function quit() {
    window.location.href = "/user/quit";
  }
</script>
</body>
</html>