body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #cccccc;
    font-size: 22px;
}
/*상단 바*/
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 130px;
    display: flex;
    position: relative;
    min-width: 1200px;
}

/*로고가 좌측 상단에 위치하도록 조정*/
#home_logo {
    display: inline-block;
    width: 270px;
    height: 90px;
}

/*선택자를 이용해 로고의 크기 조정*/
#home_logo > img {
    width: 270px;
    height: 90px;
}
h2, h3{
    position: relative;
    left: 600px;
    display: inline-block;
}
.clickable-row {
    cursor: pointer;
}
.quantity-controls {
    align-items: center;
}
.quantity-controls button{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    font-size: 18px;
    border: #cccccc solid 1px;
    background-color: #333333;
    color: #ffffff;
    padding: 5px;
}
.quantity-controls span {
    padding: 0 10px;
}
table{
    position: relative;
    width: 1000px;
    text-align: center;
    left: 208px;
    border-collapse: collapse;
}
tr,td{
    border: #cccccc solid 1px;
}
#product{
    text-align: left;
}
#name{
    position: relative;
    left: 20px;
    bottom: 26px;
}
#coupon{
    border: #2d6eaf solid 5px;
    background-color: #2d6eaf;
    color: #e0e6eb;
    border-radius: 8px;
    font-size: 18px;
    margin: 5px;
}
#buy{
    border: #2d6eaf solid 5px;
    background-color: #2d6eaf;
    color: #e0e6eb;
    border-radius: 8px;
    font-size: 18px;
    margin: 5px;
    position: relative;
    left: 600px;
}

.del{
    border: #CC5E5EFF solid 5px;
    background-color: #CC5E5EFF;
    color: #e0e6eb;
    border-radius: 8px;
    font-size: 18px;
    margin: 5px;
}

.popup {
    border: 1px solid #ccc;
    z-index: 1000;
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    left: 325px;
    top: 102px;
    width: 400px;
    border-radius: 7px;
    background-color: rgb(51, 51, 51);
}

.popup.hidden {
    display: none; /* 숨김 상태 */
}

.popup-header{
    text-align: center;
    border-radius: 7px;
    background-color: #0099d7b3;
}

.popup .apply-coupon {
    display: block;
    position: relative;
    left: 152px;
    margin-top: 13px;
    margin-bottom: 14px;
    border: #2d6eaf solid 5px;
    background-color: #2d6eaf;
    color: #e0e6eb;
    border-radius: 8px;
    font-size: 18px;
}

.popup .close-btn {
    cursor: pointer;
    position: relative;
    left: 376px;
    bottom: 25px;
    width: 21px;
    font-size: 16px;
    border: 0px;
    background: #0f7aa6;
}

#coupon-list{
    display: grid;
    margin: 18px;
}

#discounted-price {
    text-align: center;
    margin-top: 16px;
}

.change-button{
    border: #2d6eaf solid 5px;
    background-color: #2d6eaf;
    color: #e0e6eb;
    border-radius: 8px;
    position: relative;
    width: 50px;
    margin: 5px;
}

.cancel-button{
    border: #CC5E5EFF solid 5px;
    background-color: #CC5E5EFF;
    color: #e0e6eb;
    border-radius: 8px;
    margin: 5px;
    width: 50px;
}

.mod_but_box{
    display: inline-grid;
}

.discount_box{
    display: inline-flex;
}