body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #cccccc;
}

span{
    position: relative;
    font-size: 20px;
    color: #cccccc;
    top: 3px;
}

h2{
    position: relative;
    left: 540px;
    bottom: 45px;
    font-size: 30px;
}

h2 span{
    position: relative;
    font-size: 35px;
}

/*상단 바*/
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 130px;
    display: flex;
    position: relative;
    min-width: 1200px;
}

/*로고가 좌측 상단에 위치하도록 조정*/
#home_logo {
    display: inline-block;
    width: 270px;
    height: 90px;
}

/*선택자를 이용해 로고의 크기 조정*/
#home_logo > img {
    width: 270px;
    height: 90px;
}

.form-group{
    display: block;
    position: relative;
    width: 800px;
    height: 750px;
    left: 400px;
    bottom: 20px;
    border: #2d6eaf solid 3px;
}

.box{
    display: block;
    position: relative;
    left: 150px;
    top: 30px;
    margin-bottom: 50px;
}

input[type=text]{
    height: 35px;
    border-radius: 5px;
}

.pw{
    position: relative;
    right: 18px;
}

#pw_case{
    position: relative;
    left: 10px;
    font-size: 13px;
}

.name{
    position: relative;
    left: 13px;
}

.birth{
    position: relative;
    left: 13px;
}

.phone{
    position: relative;
    width: 50px;
    height: 20px;
    right: 40px;
}

.email{
    position: relative;;
    width: 160px;
    height: 20px;
    right: 6px;
}

.place{
    position: relative;
    width: 500px;
    height: 10px;
    left: 8px;
}

.complete{
    display: block;
    position: relative;
    top: 20px;
    left: 720px;
    width: 180px;
    height: 80px;
    margin-bottom: 70px;
    font-size: 24px;
    background-color: #3180d1;
    color: #e0e6eb;
    border-radius: 5px;
}