ul{
    list-style: none;
}

li{
    border-top: #e0e6eb solid 1px;
    padding: 23px;
}

.photo, .product_name, .product_info, .but_box{
    display: grid;
    align-items: center;
    padding: 7px 40px 0px 16px;
    align-content: space-evenly;
}

.product_name{
    text-decoration: none;
    color: #e0e6eb;
}