<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/productAdd.js"></script>
<script>

    const categoryDetails = {
        1: {
            "상의": 1,
            "하의": 2,
            "속옷": 3,
            "양말": 4
        },
        2: {
            "운동화": 5,
            "스니커즈": 6,
            "구두": 7,
            "슬리퍼": 8
        },
        3: {
            "백팩": 9,
            "캐리어": 10,
            "크로스백": 11
        },
        4: {
            "목걸이": 12,
            "반지": 13,
            "귀걸이": 14,
            "선글라스": 15
        }
    };

    function updateDetails() {
        const categorySelect = document.getElementById('category');
        const detailSelect = document.getElementById('detail');

        detailSelect.innerHTML = '';

        const selectedCategoryId = categorySelect.value;
        const details = categoryDetails[selectedCategoryId];

        if (details) {
            Object.keys(details).forEach(detail => {
                const option = document.createElement('option');
                option.value = details[detail];
                option.textContent = detail;
                detailSelect.appendChild(option);
            });
        }
    }

    document.addEventListener('DOMContentLoaded', () => {

        /*<![CDATA[*/
        var isSeller = [[${isSeller}]];
        /*]]>*/

        if (!isSeller) {
            var proceed = confirm("판매자가 아닙니다. 판매자 회원가입 페이지로 이동하시겠습니까?");
            if (proceed) {
                window.location.href = '/sellerSignup';
            }else{
                window.location.href = '/';
            }
        }

        updateDetails();
    });

    function handleSubmit(event) {
        event.preventDefault(); // 기본 폼 제출 동작 방지
        const form = event.target;

        // 폼 데이터를 객체로 생성
        const formData = new FormData(form);

        // Fetch API를 사용하여 비동기 요청 보내기
        fetch(form.action, {
            method: form.method,
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        }).then(response => {
            if (response.ok) {
                return response.text();
            } else {
                throw new Error('Network response was not ok.');
            }
        }).then(data => {
            if(data === '상품이 등록되었습니다!'){
                alert(data);
                window.location.href = "/sellerStatus";
            }
        })
            .catch(error => {
                console.error('Error:', error);
                if(error === 'Network response was not ok.')
                    alert('네트워크 오류.');
            });
    }
</script>
<body>
<form id="productForm" action="/products/add" method="post" enctype="multipart/form-data" onsubmit="handleSubmit(event)">
  <input id="name" type="text" name="name" placeholder="Product Name" required>
  <textarea id="description" name="description" placeholder="Product Description" required></textarea>
  <input id="price" type="number" name="price" placeholder="Product Price" step="1" required>
  <input id="image" type="file" name="file" required>
    <label for="category">Category:</label>
    <select id="category" onchange="updateDetails()">
        <option value="1">의류</option>
        <option value="2">신발</option>
        <option value="3">가방</option>
        <option value="4">액세서리</option>
    </select>

    <!-- Detail Select Box -->
    <label for="detail">Detail:</label>
    <select id="detail" name="category">
        <!-- Options will be populated based on selected category -->
    </select>
  <button type="submit">Add Product</button>
</form>
</body>
</html>