<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fast Mall - 상품 상세 정보</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
        function handleSubmit(event) {
            event.preventDefault(); // 기본 폼 제출 동작 방지
            const form = event.target;

            // 폼 데이터를 객체로 생성
            const formData = new FormData(form);

            // Fetch API를 사용하여 비동기 요청 보내기
            fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }).then(response => {
                if (response.status === 401) {
                    // 401 상태 코드인 경우 로그인 창으로 이동할지 물어보는 prompt 표시
                    const shouldRedirect = confirm('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?');
                    if (shouldRedirect) {
                        window.location.href = '/login'; // 로그인 페이지로 이동
                    }
                    throw new Error('Unauthorized'); // 에러를 throw하여 나머지 then 블록이 실행되지 않도록 함
                } else
                    return response.text();
            }).then(data => {
                    console.log(data);
                    alert(data);
                    const shouldRedirect = confirm('장바구니를 확인하시겠습니까?');
                    if (shouldRedirect) {
                        window.location.href = '/cart'; // 로그인 페이지로 이동
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    if(error === 'Network response was not ok.')
                        alert('네트워크 오류.');
                });
        }

        function incrementValue() {
            let value = parseInt(document.getElementById('quantity').value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById('quantity').value = value;
            updateTotalPrice();
        }

        function decrementValue() {
            let value = parseInt(document.getElementById('quantity').value, 10);
            value = isNaN(value) ? 0 : value;
            value--;
            value = value < 1 ? 1 : value; // 최소 수량 1로 설정
            document.getElementById('quantity').value = value;
            updateTotalPrice();
        }

        function updateTotalPrice() {
            const price = parseFloat(document.getElementById('discount_price').textContent);
            const quantity = parseInt(document.getElementById('quantity').value, 10);
            const totalPrice = price * quantity;
            document.getElementById('totalPrice').textContent = totalPrice.toString();
        }
        
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('wish_image').addEventListener('click', function () {
                    const productId = this.getAttribute('data-product-id');
                    const isWishlist = this.src.includes('wishlist-wish');
                    const countSpan = this.nextElementSibling;
                    const url = new URL(isWishlist ? 'http://localhost:8080/delWishlist' : 'http://localhost:8080/addWishlist');
                    url.searchParams.append('productId', productId);

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    })
                        .then(response => {
                            if (response.status === 401) {
                                // 401 상태 코드인 경우 로그인 창으로 이동할지 물어보는 prompt 표시
                                const shouldRedirect = confirm('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?');
                                if (shouldRedirect) {
                                    window.location.href = '/login'; // 로그인 페이지로 이동
                                }
                                throw new Error('Unauthorized'); // 에러를 throw하여 나머지 then 블록이 실행되지 않도록 함
                            } else {
                                return response.text();
                            }
                        })
                        .then(data => {
                            if(data === "success"){
                                // 성공적으로 처리된 경우 이미지 경로를 업데이트
                                if (isWishlist) {
                                    this.src = '/images/icons/wishlist-nowish.png';
                                    countSpan.textContent = "(" + (parseInt(countSpan.innerText.replace("(", "").replace(")", "")) - 1).toFixed(0) + ")";
                                } else {
                                    this.src = '/images/icons/wishlist-wish.png';
                                    countSpan.textContent = "(" + (parseInt(countSpan.innerText.replace("(", "").replace(")", "")) + 1).toFixed(0) + ")";
                                }
                            }

                        })
                        .catch(error => {
                            console.error('Error:', error);
                            if (error.message === 'Unauthorized') {
                                // 이미 처리된 경우 예외 처리
                            } else {
                                alert('네트워크 오류.');
                            }
                        });
            });
        })
    </script>

</head>
<body>
<div class="header">
    <a href="/" id="home_logo">
        <img src="/images/icons/logo.png" alt="Home Logo"/>
    </a>
</div>
<div id="container">
    <img id="image" th:src="@{'/images/uploads/' + ${productDto.products.photo}}" alt="Product Image" height="700" width="700">
    <div id="info">
        <label id="title" th:text="${productDto.products.product_name}"></label>
        <div id="price_box">
            <span id="percent" th:if="${productDto.percent > 0}" th:text="${productDto.percent} + '%'"></span>
            <span id="price" th:if="${productDto.products.price != productDto.discountPrice}"  th:text="${productDto.products.price} + '원'"></span>
            <span id="discount_price" th:text="${productDto.discountPrice} + '원'"></span>
        </div>
        <div id="prefer_box">
                <!-- 별점 표시 -->
            <div class="rating">
                <!-- 평균 평점 가져오기 -->
                <span th:each="i : ${#numbers.sequence(1, 5)}"
                      th:classappend="${productDto.products.getAverageRating() >= i ? 'filled' : 'empty'}">&#9733;</span>
                <span class="average-rating" th:text="${productDto.products.getAverageRating()}">0.0</span>
            </div>
            <div class="wishlist">
                <!-- 위시리스트 이미지와 버튼, 각 제품의 ID를 사용하여 고유하게 설정 -->
                <img id="wish_image"
                     th:src="${productDto.isWishlist} ? '/images/icons/wishlist-wish.png' : '/images/icons/wishlist-nowish.png'"
                     alt="Wishlist"
                     class="wish"
                     th:data-product-id="${productDto.products.id}"
                     style="cursor: pointer;"
                     width="24"
                     height="24"/>
                <span class="wish_count"
                      id="wishlist_count"
                      th:text="'(' + ${productDto.wishlistCnt} + ')'">
                    </span>
            </div>
        </div>
        <p id="seller_id">판매자: <span th:text="${productDto.products.seller_id}"></span></p>
        <form action="/cart/add" method="post" onsubmit="handleSubmit(event)">
            <input type="hidden" name="productId" th:value="${productDto.products.id}"/>
            <input type="hidden" id="query" name="query" th:value="${query}"/>
            <input type="hidden" id="category" name="category" th:value="${category}"/>
            <input type="hidden" id="sellerId" name="sellerId" th:value="${sellerId}"/>
            <div id="quantity_box">
                <button class="val" type="button" onclick="decrementValue()">-</button>
                <input type="number" id="quantity" name="quantity" value="1" readonly />
                <button class="val" type="button" onclick="incrementValue()">+</button>
            </div>
            <p id="tot">결제 가격: <span id="totalPrice" th:text="${productDto.discountPrice}"></span></p>
            <div id="but_box">
                <button id="cart" type="submit">장바구니 담기</button>
                <button id="buy" type="submit">결제하기</button>
            </div>
        </form>
    <a th:href="@{/search(query=${query}, category=${category}, sellerID=${sellerId})}" style="color: #3180d1">검색 결과로 돌아가기</a>
    </div>
</div>
<p id="description">설명: <span th:text="${productDto.products.description}"></span></p>
</body>
</html>
